section {
    margin-top: 100px;

}
div {
    width: 200px;
    height: 50px;
    background-color: red;
    text-align:center;
    border: 2px solid black;
    margin: 10px;
}
div:nth-of-type(2n) {
    background-color: yellow;
}
div:nth-of-type(3n) {
    background-color: pink;
}
#one {
    transform: rotate(1800deg);

}
#two{
    transform: scale(0.5);
}
#three{
    transform: translatex(50px);
}
#four{
    transform: skew(30deg);
}
